$navColor: #303030;
$bodyColor: #212121;

body {
  background: $bodyColor !important;
}

* {
  font-size: 1em;
  color: white !important;
}

ul,
li {
  display: inline;
  list-style-type: none;
  text-decoration: none;
}

#nav__div {
  height: 8vh;
  width: 100vw;
  background-color: $navColor;
  display: flex;

  div {
    margin-top: 2.4vh;
    ul {
      li {
        a {
          padding-right: 1vw;
        }
      }
    }
  }
}

#bug__logo {
  margin-left: 2.5vw;
}

#title__text {
  text-align: center;
  display: block;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}

#login__form {
  margin-top: 7vh;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  font-size: 1.2em;
}

#regBox {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 65vw;
  height: 80vh;
  border-radius: 6px;
  background-color: $navColor;
}

#registerForm {
  padding-top: 10vh;
  padding-left: 15vw;
  width: 50vw;

  button {
    margin-left: 14vw;
    margin-top: 3vh;
  }
}

*input {
  color: black !important;
}

#password_confirm_form {
  margin-top: 10vh;
}

#password_checkbox {
  margin-top: 2vh;
}

#dash-title {
  width: 100vw;
  justify-content: center;
}

#dash_Box {
  background-color: $navColor !important;
  height: 100vh !important;
  width: 100% !important;
  margin-top: 3vh;
  overflow-y: scroll;

  p {
    font-size: 3em;
  }

  table {
    width: 100%;
    overflow-y: hide;
    float: left;

    th {
      line-height: 2vh;
      border: solid 1px black;
      border-top: none;
      text-align: center;
    }

    tr {
      height: auto;
    }

    td {
      button {
        height: auto;
        color: black !important;
      }
    }

    #priority {
      width: 7vw;
      border-left: none;
    }

    #issue_num {
      width: 6vw;
    }

    #poster {
      width: 10vw;
    }

    #issue_desc_title {
      border-right: none;
    }
  }
}

#form_div {
  display: flex;
  width: 50vw;
  height: 50vh;

  label {
    margin-left: 25vw;
    margin-top: 3vh;
  }
  input,
  textarea {
    margin-left: 25vw;
    display: block;
    width: 30vw;
    color: #000000 !important;
  }

  option {
    color: black !important;
  }

  #dropdown {
    width: 10vw !important;
  }

  #priority {
    color: black !important;
  }

  #description_area {
    height: 40vh;
  }

  #issueBtn {
    margin-left: 37vw;
    margin-top: 4vh;
  }
}

#txtareaCounter {
  margin-left: 100vw !important;
  margin-top: 50vh !important;
}

#title_text {
  margin-right: 5vw;
}

@media screen and (min-width: 1200px) {
  #registerForm {
    padding-left: 25vw;
    width: 42vw;

    button {
      margin-left: 6vw;
    }
  }
}

table.sortable
  th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: " \25B4\25BE";
}
